<!DOCTYPE html>
<html>
<head>
  <title>Fuzzapi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-light bg-faded">

  <a class="navbar-brand" href="/">
    <%= image_tag 'logo', width: 30, height: 30, class: 'd-inline-block align-top', alt: "Fuzzapi Logo" %>
    Fuzzapi
  </a>

  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="btn" href="/scans">Scans <span class="sr-only">(current)</span></a>
    </li>
  </ul>

  <form class="form-inline " style="float: right;">
    <input class="form-control" type="text" placeholder="Search">

    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, class: 'btn pull-xs-right', method: :delete) %>
    <% end %>
  </form>
</nav>

<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger" role="alert">
    <%= alert %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
